@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);
    --FONT: 'Epilogue'
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-block: 1em/12;
    padding-inline: 2em;
}

header {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.register__login,
.name__dropdown {
    display: flex;
    align-items: center;

}

.logo {
    font-family: var(--FONT);
    padding-right: 8.333333%; /* 1em/12 */
    font-size: 400%; /* 48px/12 */
}

.dropdown {
    font-size: 150%; /* 18px/12 */
    font-family: var(--FONT);
    padding-right: 16.666667%; /* 2em/12 */
    color: var(--MediumGray);
    transition: all .1s ease-in-out;
}

.dropdown:hover {
    cursor: pointer;
    color: var(--AlmostBlack);
}

.btn {
    background-color: transparent;
    border: transparent;
    font-size: 150%; /* 18px/12 */
    font-family: var(--FONT);
    padding-inline: 5.833333%; /* 0.7em/12 */
    color: var(--MediumGray);
}

.login {
    padding-right: 25%; /* 3em/12 */
}

.register {
    border: 2px solid var(--MediumGray);
    border-radius: 15px;
    height: 41.666667%; /* 5vh/12 */
}

.register:hover {
    color: var(--AlmostBlack);
    cursor: pointer;
    border: 2px solid var(--AlmostBlack);
}

.login:hover {
    color: var(--AlmostBlack);
    cursor: pointer;

}

.background__box {
    height: 666.666667%; /* 80vh/12 */
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-color: white;
}

.box {
    margin-block: 25%; /* 3em/12 */
    background-color: var(--AlmostWhite);
    min-height: 666.666667%; /* 80vh/12 */
    min-width: 583.333333%; /* 70vw/12 */
    display: flex;
    flex-direction: row;
}

.intro__section {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 0;
    background-color: white;
}

.content__box {
    display: flex;
    flex-direction: column;
    height: 666.666667%; /* 80vh/12 */
    width: 50%;
    align-items: start;
    background-color: white;
}

.logo__text {
    padding-top: 14.166667%; /* 1.7em/12 */
    font-family: var(--FONT);
    font-size: 683.333333%; /* 82px/12 */
}

.text {
    color: var(--MediumGray);
    font-family: var(--FONT);
    float: left;
    padding-block: 31.666667%; /* 3.8em/12 */
    font-size: 166.666667%; /* 20px/12 */
    line-height: 250%; /* 30px/12 */
}

.learn__more {
    background-color: var(--AlmostBlack);
    color: var(--AlmostWhite);
    min-height: 50%; /* 6vh/12 */
    padding: 5%; /* 0.6em/12 */
    padding-inline: 14.166667%; /* 1.7em/12 */
    border-radius: 125%; /* 15px/12 */
    margin-bottom: 51.666667%; /* 6.2em/12 */
}

.learn__more:hover {
    color: var(--AlmostBlack);
    background-color: var(--AlmostWhite);
    border: 2px solid var(--AlmostBlack);
    cursor: pointer;

}

.features {
    position: absolute;
    left: 916.666667%; /* 110px/12 */
    padding: 8.333333%; /* 1em/12 */
    padding-inline: 16.666667%;
    /* 2em/12 */
    display: flex;
    flex-direction: column;
    font-family: var(--FONT);
    color: var(--MediumGray);
    box-shadow: 0px 10px 10px rgb(214, 214, 214);
    width: fit-content;
    z-index: 80;
    border-radius: 125%; /* 15px/12 */
}

.features__el {
    padding-block: 4.166667%; /* 0.5em/12 */

}

.icon {
    padding-right: 8.333333%; /* 1em/12 */
}

.company {
    position: absolute;
    left: 2500%; /* 300px/12 */
    padding: 8.333333%; /* 1em/12 */
    padding-inline: 16.666667%; /* 2em/12 */
    display: flex;
    flex-direction: column;
    font-family: var(--FONT);
    color: var(--MediumGray);
    box-shadow: 0px 10px 10px rgb(214, 214, 214);
    width: fit-content;
    z-index: 80;
    border-radius: 125%; /* 15px/12 */
}

.company__el {
    padding-block: 4.166667%; /* 0.5em/12 */

}

.hidden {
    display: none;
}

@media (max-width: 540px) {}